<%= form_for(@sighting) do |f| %>
  <% if @sighting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sighting.errors.count, "error") %> prohibited this sighting from being saved:</h2>

      <ul>
      <% @sighting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lat %><br>
    <%= f.text_field :lat, :placeholder => "40.69847032728747" %>
  </div>
  <div class="field">
    <%= f.label :long %><br>
    <%= f.text_field :long, :placeholder => "-73.9414422416687" %>
  </div>
  <div class="field">
    <%= f.label :unconscious %><br>
    <%= f.check_box :unconscious %>
  </div>
  <div class="field">
    <%= f.label :intoxicated %><br>
    <%= f.check_box :intoxicated %>
  </div>
  <div class="field">
    <%= f.label :fuckedup %><br>
    <%= f.check_box :fuckedup %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
